<%= stylesheet_link_tag "messages.css" %>

<h1 class="messages-h1">Messages</h1>

<ul class="messages-ul">
  <% @messages.each do |message| %>
    <div class="card mb-3 no-border" style="max-width: 540px;">
      <div class="row g-0">
        <div class="col-md-4">
          <button type="button" class="btn btn-secondary btn-round"><%= message.username[0] %></button>
          <h4 class="sender-name"><%= message.username %></h4>
        </div>
        <div class="col-md-8">
          <div class="card-body">
            <h5 class="card-title small-text-blue">
              <%= message.created_at.strftime("%b %d, %Y, %l:%M") %>
            </h5>
            <p class="card-text gray-border-rounded"><%= message.body %></p>
          </div>
        </div>
      </div>
    </div>

  <% end %>

</ul>
